
<section class="container" id="educacion">
    <div class="minititle">
        <h3>Educación</h3>
    </div>
    <div class="lista">
        <li *ngFor="let educacion of educacionList">
            <div class="container item">
                <img class="logo-lista" [src]="education.img" alt="">
                <div class="title-desc">
                    <h4>{{education.title}}</h4>
                    <h5>{{education.school}}</h5> <h5>{{education.years}}</h5>
                    <h6>{{education.city}}</h6>
                    <p>{{education.description}}</p>
                </div>
            </div>
        </li>
    </div>
</section>
