
<section class="container" id="educacion">
    <div class="minititle">
        <h3>Educación</h3>
    </div>
    <div class="lista">
        <div class="container item">
            <img class="logo-lista" src="https://yt3.ggpht.com/ytc/AKedOLS5_Rj9c2ullYzIwhjTT2Zq1kLmsbUGs6LQwSOSKw=s900-c-k-c0x00ffffff-no-rj" alt=""><!--img logo empresa-->
            <div class="title-desc">
                <h4>Photographer and Video Editor</h4>
                <h5>Defensoria del Pueblo</h5> <h5>2017 - 2022</h5>
                <p>Content creator for the audiovisual team. I performed roles
                    such as camera operator, drone pilot, photographer and
                    makeup artist. Mainly, I developed my abilities as a video editor
                    and motion graphics designer.</p>
            </div>
        </div>
        <div class="container item">
            <img class="logo-lista" src="https://yt3.ggpht.com/ytc/AKedOLS5_Rj9c2ullYzIwhjTT2Zq1kLmsbUGs6LQwSOSKw=s900-c-k-c0x00ffffff-no-rj" alt=""><!--img logo empresa-->
            <div class="title-desc">
                <h4>Photographer and Video Editor</h4>
                <h5>Defensoria del Pueblo</h5> <h5>2017 - 2022</h5>
                <p>Content creator for the audiovisual team. I performed roles
                    such as camera operator, drone pilot, photographer and
                    makeup artist. Mainly, I developed my abilities as a video editor
                    and motion graphics designer.</p>
            </div>
        </div>
        <div class="container item">
            <img  class="logo-lista" src="https://yt3.ggpht.com/ytc/AKedOLS5_Rj9c2ullYzIwhjTT2Zq1kLmsbUGs6LQwSOSKw=s900-c-k-c0x00ffffff-no-rj" alt=""><!--img logo empresa-->
            <div class="title-desc">
                <h4>Photographer and Video Editor</h4>
                <h5>Defensoria del Pueblo</h5> <h5>2017 - 2022</h5>
                <p>Content creator for the audiovisual team. I performed roles
                    such as camera operator, drone pilot, photographer and
                    makeup artist. Mainly, I developed my abilities as a video editor
                    and motion graphics designer.</p>
            </div>
        </div>
    </div>
</section>
