
<section class="container" id="proyectos">
    <div class="minititle">
    <h3>Proyectos</h3>
    </div>
    <div class="lista">
        <li *ngFor="let project of projectList">
            <div class="container proyecto">
                <div class="img-proyecto"> 
                    <a target="_blank" href="{{project.link}}"><img id="projectsimg"[src]="project.img" alt=""></a>
                </div> 
                <div>
                    <h5>{{project.title}}</h5>
                    <h6>{{project.date}}</h6>
                    <p>{{project.description}}</p>
                </div>
            </div>
        </li>
    </div>
</section>