<section id="acerca-de">
  
    <div id="banner">
        <div id="perfil-derecho">
            <div class="separador"><p></p></div>
            <div>
                <img id="imgperfil" [src]="miPortfolio.profileImage" >
            </div>
            <div>
                <h2 class="name">{{miPortfolio.name}}</h2>
                <h4 class="subhead">{{miPortfolio.position}}</h4>
                <h6 class="subsubhead">{{miPortfolio.location}}</h6>
            </div>
        </div>
    </div>
  

  </section>