<section id="encabezado">
    <div id="banner">
        <div id="perfil-derecho">
            <div class="separador"><p></p></div>
            <div>
            <!--    <img id="imgperfil" [src]="persona.img" >-->
                <img  id="imgperfil" src="https://media-exp1.licdn.com/dms/image/C4E03AQEdjs4L9rJ6fQ/profile-displayphoto-shrink_800_800/0/1651350674722?e=1672876800&v=beta&t=1q5X0rNXBQQXcoCFy3oM7gg5oDBrEYlYLs-JQDBJQxc" alt="">
            </div>
            <div>
                <h2 class="name">{{persona.nombre}}</h2>
                <!-- <h4 class="subhead">{{persona.position}}</h4>
                <h6 class="subsubhead">{{persona.location}}</h6> -->
            </div>
        </div>
    </div>
</section>