<section id="acerca-de">
  
    <div id="banner">
        <div id="perfil-derecho">
            <div class="separador"><p></p></div>
            <div>
                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQEdjs4L9rJ6fQ/profile-displayphoto-shrink_800_800/0/1651350674722?e=1665619200&v=beta&t=y1lBQWByc5sKmFb4b0DBaQZBTRCaIFNz_f3khHRwzKg" alt="" id="imgperfil"><!--img perfil-->
            </div>
            <div>
                <h2 class="name">Ana Moruja Nigro</h2>
                <h4 class="subhead">Full Stack Developer Jr</h4>
            </div>
        </div>
    </div>
  

  </section>