
<section class="container" id="experiencia">
    <div class="minititle">
        <h3>Experiencia</h3>
    </div>
    <div class="lista">
        <li *ngFor="let experience of experienciaList">
            <div class="container item">
                <img class="logo-lista" [src]="experience.img" alt=""><!--img logo empresa-->
                <div class="title-desc">
                    <h4>{{experience.title}}</h4>
                    <h5>{{experience.company}}</h5> <h5>{{experience.years}}</h5>
                    <h6>{{experience.city}}</h6>
                    <p>{{experience.description}}</p>
                </div>
            </div>
        </li>

    </div>
</section>