
<section class="container" id="skills">
    <div class="minititle">
    <h3>Skills</h3>
    </div>
    <div>
        <li *ngFor="let languages of languageList">
            <div class="container item">
                <div class="title-desc">
                    <h4>{{languages.language}}</h4>
                    <h5>{{languages.level}}</h5> 
                </div>
            </div>
        </li>
    </div>

</section>

<div class="row">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
</div>