<header>
    <div>
        <div id="barra-nav">
            <div id="left-header" class="text-start">
            <img width="70%" src="https://www.concordia.gob.ar/sites/all/themes/programar/images/arg-programa.png" alt=""><!--logo-->
            <h4>#YoProgramo</h4>
            </div>
            <div id="right-header" class="text-end">
                <div id="rrss" >
                <a href="https://instagram.com/anamornig" target="_blank" class="fa fa-instagram"></a>
                <a href="https://github.com/anamornig" target="_blank" class="fa fa-github"></a>
                <a href="https://www.linkedin.com/in/anamoruja/" target="_blank" class="fa fa-linkedin"></a>
                <a href="https://www.behance.net/anamornig" target="_blank" class="fa fa-behance"></a>
                </div>
                <button class="btn btn-success" (click)="login()" *ngIf="!isLogged">Log in</button>
                <button class="btn btn-success" (click)="onLogOut()" *ngIf="isLogged">Log out</button>

            </div>
        </div>
    </div>
</header>