<header>
    <div>
        <div id="barra-nav">
            <div id="left-header" class="text-start">
            <img width="70%" src="https://www.concordia.gob.ar/sites/all/themes/programar/images/arg-programa.png" alt=""><!--logo-->
            <h4>#YoProgramo</h4>
            </div>
            <div id="right-header" class="text-end">
                <div id="rrss">
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-github"></a>
                <a href="#" class="fa fa-behance"></a>
                </div>
                <button class="btn btn-success">Login</button>
            </div>
        </div>
    </div>
</header>